{% extends 'base.html' %}

{% block title %}Today's Birdle{% endblock %}

{% block body %}

<form action="/logout">
  <button type="submit">Log out</button>
</form>
<h1 class="center">Today's Birdle</h1>

<link rel="stylesheet" href="static/css/site.css">

<img class="center" src="{{ bird.bird_photo }}" height="500" alt="hopefully a bird">

<h2 class="center">Guess what bird it is!</h2>

<div class="center">
  <div class="box" id="order" title="Order"></div>
  <div class="box" id="family" title="Family"></div>
  <div class="box" id="comname" title="Common Name"></div>
</div>

<div class="center">
  <form action="/submit-guess" style="display:inline" method="POST" class="center">
    <input type="text" id="guess" name="guess" placeholder="What bird is it?">
  </form>

  <button style="display:inline" type="submit" id="submit-guess">Submit</button>
  <form style="display:inline" id="guess-form"></form>
</div>

<script src="/static/js/birdle.js"></script>

{% endblock %}