{% extends 'base.html' %}
{% block title %}Birdle{% endblock %}

{% block body %}
<h1>
    __(.)<  __(.)>  __(.)= <br>
    \___)   \___)   \___) <br>
    <br>
    Birdle
</h1>

<h2>Log In</h2>
<form action="/login" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <button type="submit">Log In</button>

  </p>
</form>

<h2>Create an Account</h2>
<form action="/users" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
      <button type="submit">Create an account</button>

  </p>
</form>
<h2>Log Out</h2>
<form action="/logout">
  <p>
    <button type="submit">Log out</button>
  </p>
</form>
{% endblock %}